{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/profile_pic.css' %}">
    <title>Upload Profile Picture</title>
</head>
<body>
    <div class="container">
        <div class="profile">
            <form method="POST" action="{% url 'profile_pic' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="file-input">
                    <input type="file" id="profilePic" name="profilePic" accept="image/*" required>
                </div>
                <button type="submit" class="btn-upload" id="upload-btn">Upload</button>
                <div class="back-link">
                    <a href="{% url 'index' %}">Back</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>